<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pacificblack.informatebuenaventura">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".extras.FullImagen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".eliminar.EliminarServicios" />
        <activity android:name=".actualizar.ActualizarServicios" />
        <activity android:name=".eliminar.EliminarFunebres" />
        <activity android:name=".actualizar.ActualizarFunebres" />
        <activity android:name=".eliminar.EliminarEventos" />
        <activity android:name=".actualizar.ActualizarEventos" />
        <activity android:name=".actualizar.ActualizarEmpleos" />
        <activity android:name=".eliminar.EliminarEmpleos" />
        <activity android:name=".actualizar.ActualizarDonaciones" />
        <activity android:name=".eliminar.EliminarDonaciones" />
        <activity android:name=".actualizar.ActualizarDesaparicion" />
        <activity android:name=".eliminar.EliminarDesaparicion" />
        <activity android:name=".actualizar.ActualizarClasificados" />
        <activity android:name=".eliminar.EliminarClasificados" />
        <activity android:name=".actualizar.ActualizarBienes" />
        <activity android:name=".eliminar.EliminarBienes" />
        <activity android:name=".actualizar.ActualizarArticulo" />
        <activity android:name=".eliminar.EliminarArticulo" />
        <activity android:name=".actualizar.ActualizarAdopcion" />
        <activity android:name=".eliminar.EliminarAdopcion" />
        <activity android:name=".publicar.PublicarDonaciones" />
        <activity android:name=".publicar.PublicarFunebres" />
        <activity android:name=".publicar.PublicarClasificados" />
        <activity android:name=".publicar.PublicarBienes" />
        <activity android:name=".publicar.PublicarEmpleos" />
        <activity android:name=".publicar.PublicarServicios" />
        <activity android:name=".publicar.PublicarEventos" />
        <activity android:name=".publicar.PublicarArticulo" />
        <activity android:name=".publicar.PublicarAdopcion" />
        <activity android:name=".publicar.PublicarDesaparicion" />
        <activity android:name=".actividades.DetalleNoticias" />
        <activity android:name=".actividades.DetalleDifuntos" />
        <activity android:name=".actividades.DetalleEncuestas" />
        <activity android:name=".actividades.DetalleDonaciones" />
        <activity android:name=".actividades.DetalleDesaparecidos" />
        <activity android:name=".actividades.DetalleComprayVenta" />
        <activity android:name=".actividades.DetalleClasificados" />
        <activity android:name=".actividades.DetalleBienes" />
        <activity android:name=".actividades.DetalleAdopcion" />
        <activity android:name=".fragments.configuracion.Configuraciones" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7236340326570289~3340443977" />
    </application>

</manifest>