<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pacificblack.informatebuenaventura">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".extras.FullImagen"
            android:theme="@style/AppTheme.NoActionBar"
           ></activity>
        <activity android:name=".eliminar.EliminarServicios"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarServicios"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarFunebres"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarFunebres"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarEventos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarEventos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarEmpleos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarEmpleos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarDonaciones"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarDonaciones"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarDesaparicion"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarDesaparicion"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarClasificados"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarClasificados"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarBienes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarBienes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarArticulo"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarArticulo"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actualizar.ActualizarAdopcion"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".eliminar.EliminarAdopcion"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarDonaciones"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarFunebres"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarClasificados"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarBienes"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarEmpleos"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarServicios"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarEventos"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarArticulo"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarAdopcion"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".publicar.PublicarDesaparicion"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleNoticias"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".actividades.DetalleDifuntos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleEncuestas"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleDonaciones"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleDesaparecidos"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleComprayVenta"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleClasificados"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleBienes"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".actividades.DetalleAdopcion"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".fragments.configuracion.Configuraciones"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7236340326570289~3340443977" />
    </application>

</manifest>